body{

margin:0;
background:#0f0f0f;
color:#f8f6f2;

font-family:'Poppins',sans-serif;

}

header{

display:flex;
justify-content:space-between;
padding:25px 80px;

}

.logo{

font-family:'Playfair Display',serif;
color:#d4af37;

}

nav a{

margin-left:25px;
text-decoration:none;
color:#f8f6f2;
transition:0.3s;

}

nav a:hover{

color:#d4af37;

}

.hero{

height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}

.hero h2{

font-family:'Playfair Display',serif;
font-size:42px;
max-width:600px;

}

.cta{

margin-top:20px;
padding:12px 30px;
border:1px solid #d4af37;
color:#d4af37;
text-decoration:none;
transition:0.4s;

}

.cta:hover{

background:#d4af37;
color:black;

}

.categories{

padding:80px;
text-align:center;

}

.cat-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:40px;

}

.cat-card{

padding:50px;
border:1px solid #333;
text-decoration:none;
color:white;
transition:0.4s;

}

.cat-card:hover{

transform:translateY(-10px);
border-color:#d4af37;

}

.trust{

padding:80px;
text-align:center;

}

.trust-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;

}

.founder{

padding:80px;
text-align:center;

}

footer{

padding:40px;
text-align:center;
background:#080808;

}
